@function getShadows($n) {
    $shadows: '#{random(100)}vw #{random(100)}vh #fff';
    @for $i from 1 through $n {
        $shadows: '#{$shadows}, #{random(100)}vw #{random(100)}vh #fff';
    }
    @return unquote($shadows);
}
@keyframes moveUp {
    to {
        transform: translateY(-100vh);
    }
}

.sass-star-sky {
    --bg: #000;
    background-color: var(--bg);
    height: 100vh;
    .star-sky-content {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3vw;
        background: var(--bg);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        text-stroke: 1px #fff;
        -webkit-text-stroke: 1px #fff;
    }
    $duration: 400s;
    $count: 1000;
    @for $i from 1 through 5 {
        $duration: $duration / 2;
        $count: floor($count / 2);
        .star-sky#{$i} {
            $size: #{$i}px;
            width: $size;
            height: $size;
            // 背景颜色
            // background-color: #ff0000;
            border-radius: 50%;
            position: fixed;
            top: 0;
            left: 0;
            // 设置阴影星星
            box-shadow: getShadows($count);
            animation: moveUp $duration linear infinite;

            &::after {
                content: '';
                position: fixed;
                top: 100vh;
                left: 0;
                width: inherit;
                height: inherit;
                border-radius: inherit;
                box-shadow: inherit;
            }
        }
    }
}
