@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Warnes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

@function makeLongRightShadow($color) {
    $val: 0px 0px $color;

    @for $i from 1 through 50 {
        $color: fade-out(desaturate($color, 1%), 0.02);
        $val:
            #{$val},
            #{$i}px #{$i}px #{$color};
    }

    @return $val;
}
.shadow-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-family: 'Reggae One', CenturyGothic, 'AppleGothic', sans-serif;
    .shadow-text-item {
        border: 1px solid #e5e5e5;
        border-radius: 4px;

        h2 {
            padding: 12px 16px;
            border-bottom: 1px solid #e5e5e5;
        }
        .value {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 64px;
            padding: 80px 50px;
        }
    }
    .long-shadow-text .value {
        color: #131313;
        background-color: #e7e5e4;
        // text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474, -3px 6px 1px #787777, -4px 8px 1px #7b7a7a, -5px 10px 1px #7f7d7d, -6px 12px 1px #828181, -7px 14px 1px #868585, -8px 16px 1px #8b8a89, -9px 18px 1px #8f8e8d, -10px 20px 1px #949392, -11px 22px 1px #999897, -12px 24px 1px #9e9c9c, -13px 26px 1px #a3a1a1, -14px 28px 1px #a8a6a6, -15px 30px 1px #adabab, -16px 32px 1px #b2b1b0, -17px 34px 1px #b7b6b5, -18px 36px 1px #bcbbba, -19px 38px 1px #c1bfbf, -20px 40px 1px #c6c4c4, -21px 42px 1px #cbc9c8, -22px 44px 1px #cfcdcd, -23px 46px 1px #d4d2d1, -24px 48px 1px #d8d6d5, -25px 50px 1px #dbdad9, -26px 52px 1px #dfdddc, -27px 54px 1px #e2e0df, -28px 56px 1px #e4e3e2;
        // text-shadow: 0px 0px #992400, 1px 1px rgba(152, 36, 1, 0.98), 2px 2px rgba(151, 37, 2, 0.96), 3px 3px rgba(151, 37, 2, 0.94), 4px 4px rgba(150, 37, 3, 0.92), 5px 5px rgba(149, 38, 4, 0.9), 6px 6px rgba(148, 38, 5, 0.88), 7px 7px rgba(148, 39, 5, 0.86), 8px 8px rgba(147, 39, 6, 0.84), 9px 9px rgba(146, 39, 7, 0.82), 10px 10px rgba(145, 40, 8, 0.8), 11px 11px rgba(145, 40, 8, 0.78), 12px 12px rgba(144, 41, 9, 0.76), 13px 13px rgba(143, 41, 10, 0.74), 14px 14px rgba(142, 41, 11, 0.72), 15px 15px rgba(142, 42, 11, 0.7), 16px 16px rgba(141, 42, 12, 0.68), 17px 17px rgba(140, 43, 13, 0.66), 18px 18px rgba(139, 43, 14, 0.64), 19px 19px rgba(138, 43, 15, 0.62), 20px 20px rgba(138, 44, 15, 0.6), 21px 21px rgba(137, 44, 16, 0.58), 22px 22px rgba(136, 45, 17, 0.56), 23px 23px rgba(135, 45, 18, 0.54), 24px 24px rgba(135, 45, 18, 0.52), 25px 25px rgba(134, 46, 19, 0.5), 26px 26px rgba(133, 46, 20, 0.48), 27px 27px rgba(132, 47, 21, 0.46), 28px 28px rgba(132, 47, 21, 0.44), 29px 29px rgba(131, 48, 22, 0.42), 30px 30px rgba(130, 48, 23, 0.4), 31px 31px rgba(129, 48, 24, 0.38), 32px 32px rgba(129, 49, 24, 0.36), 33px 33px rgba(128, 49, 25, 0.34), 34px 34px rgba(127, 50, 26, 0.32), 35px 35px rgba(126, 50, 27, 0.3), 36px 36px rgba(125, 50, 28, 0.28), 37px 37px rgba(125, 51, 28, 0.26), 38px 38px rgba(124, 51, 29, 0.24), 39px 39px rgba(123, 52, 30, 0.22), 40px 40px rgba(122, 52, 31, 0.2), 41px 41px rgba(122, 52, 31, 0.18), 42px 42px rgba(121, 53, 32, 0.16), 43px 43px rgba(120, 53, 33, 0.14), 44px 44px rgba(119, 54, 34, 0.12), 45px 45px rgba(119, 54, 34, 0.1), 46px 46px rgba(118, 54, 35, 0.08), 47px 47px rgba(117, 55, 36, 0.06), 48px 48px rgba(116, 55, 37, 0.04), 49px 49px rgba(116, 56, 37, 0.02), 50px 50px rgba(115, 56, 38, 0);
        text-shadow: makeLongRightShadow(#992400);
    }
    .deep-shadow-text .value {
        color: #e0dfdc;
        text-shadow:
            0 -1px 0 #ffffff,
            0 1px 0 #2e2e2e,
            0 2px 0 #2c2c2c,
            0 3px 0 #2a2a2a,
            0 4px 0 #282828,
            0 5px 0 #262626,
            0 6px 0 #242424,
            0 7px 0 #222222,
            0 8px 0 #202020,
            0 9px 0 #1e1e1e,
            0 10px 0 #1c1c1c,
            0 11px 0 #1a1a1a,
            0 12px 0 #181818,
            0 13px 0 #161616,
            0 14px 0 #141414,
            0 15px 0 #121212,
            0 22px 30px rgba(0, 0, 0, 0.9);
        // text-shadow:
        //     0 -1px 0 #ffffff,
        //     0 1px 0 #2e2e2e,
        //     0 2px 0 #2c2c2c,
        //     0 3px 0 #2a2a2a,
        //     0 4px 0 #282828,
        //     0 5px 0 #262626,
        //     0 6px 0 #242424,
        //     0 7px 0 #222222,
        //     0 8px 0 #202020,
        //     0 9px 0 #1e1e1e,
        //     0 10px 0 #1c1c1c,
        //     0 11px 0 #1a1a1a,
        //     0 12px 0 #181818,
        //     0 13px 0 #161616,
        //     0 14px 0 #141414,
        //     0 15px 0 #121212;
    }
    .inset-shadow-text .value {
        color: #202020;
        background-color: #2d2d2d;
        text-shadow:
            -1px -1px 1px #111111,
            2px 2px 1px #363636;
    }
    .multi-level-shadow-text .value {
        color: #66757f;
        background-color: #f5f8fa;
        text-shadow:
            -10px 10px 0px #8899a6,
            -20px 20px 0px #ccd6dd,
            -30px 30px 0px #e1e8ed;
    }
    .retro-shadow-text .value {
        color: #2c2c2c;
        background-color: #d5d5d5;
        letter-spacing: 0.05em;
        text-shadow:
            4px 4px 0px #d5d5d5,
            7px 7px 0px rgba(0, 0, 0, 0.2);
    }
    .neon-hover-text .value {
        color: #fff;
        background-color: #000;
        font-size: 8vmin;
        text-shadow:
            0 0 10px #0ebeff,
            0 0 20px #0ebeff,
            0 0 50px #0ebeff,
            0 0 100px #0ebeff,
            0 0 200px #0ebeff;
    }
    .neon-text .value {
        color: #fff;
        background-color: #000;
        font-size: 8vmin;
        transition: 0.2s;
        cursor: pointer;

        &:hover {
            text-shadow:
                0 0 10px #0ebeff,
                0 0 20px #0ebeff,
                0 0 50px #0ebeff,
                0 0 100px #0ebeff,
                0 0 200px #0ebeff;
        }
    }
    .neon-light-text .value {
        --color: #42fff6;
        color: #fff;
        background-color: #000;
        cursor: pointer;
        p {
            background: none;
            color: #999;
            font-family: 'Dancing Script', 'Warnes', cursive;
            cursor: pointer;
            &:hover span {
                animation: flicker 1s linear forwards;
            }
            @for $i from 0 through 9 {
                .neon-light-text-item-#{$i} {
                    animation-delay: ($i + 1) * 0.2s;
                }
                span:nth-child(#{$i + 1}) {
                    animation-delay: ($i + 1) * 0.2s;
                }
            }
        }

        @keyframes flicker {
            0% {
                color: #333;
            }
            5%,
            15%,
            25%,
            30%,
            100% {
                color: #fff;
                text-shadow:
                    0px 0px 5px var(--color),
                    0px 0px 10px var(--color),
                    0px 0px 20px var(--color),
                    0px 0px 50px var(--color);
            }
            10%,
            20% {
                color: #333;
                text-shadow: none;
            }
        }
    }

    .shadow-text-item.color-list .value {
        background-color: #222222;
        background: repeating-linear-gradient(
                45deg,
                #2b2b2b 0%,
                #2b2b2b 10%,
                #222222 0%,
                #222222 50%
            )
            0 / 15px 15px;
        display: flex;
        flex-direction: column;
        gap: 4rem;

        span {
            color: #fff;
            font-size: 7em;
        }
        span:nth-child(1) {
            font-family: Monoton;
            animation: neon1 1.5s ease-in-out infinite alternate;
        }

        span:nth-child(2) {
            font-family: Iceland;
            animation: neon2 1.5s ease-in-out infinite alternate;
        }

        span:nth-child(3) {
            font-family: Pacifico;
            animation: neon3 1.5s ease-in-out infinite alternate;
        }

        span:nth-child(4) {
            font-family: 'Press Start 2P';
            animation: neon4 1.5s ease-in-out infinite alternate;
        }

        span:nth-child(5) {
            font-family: Audiowide;
            animation: neon5 1.5s ease-in-out infinite alternate;
        }

        span:nth-child(6) {
            font-family: Vampiro One;
            animation: neon6 1.5s ease-in-out infinite alternate;
        }

        @keyframes neon1 {
            from {
                text-shadow:
                    0 0 10px #fff,
                    0 0 20px #fff,
                    0 0 30px #fff,
                    0 0 40px #ff1177,
                    0 0 70px #ff1177,
                    0 0 80px #ff1177,
                    0 0 100px #ff1177,
                    0 0 150px #ff1177;
            }
            to {
                text-shadow:
                    0 0 5px #fff,
                    0 0 10px #fff,
                    0 0 15px #fff,
                    0 0 20px #ff1177,
                    0 0 35px #ff1177,
                    0 0 40px #ff1177,
                    0 0 50px #ff1177,
                    0 0 75px #ff1177;
            }
        }

        @keyframes neon2 {
            from {
                text-shadow:
                    0 0 10px #fff,
                    0 0 20px #fff,
                    0 0 30px #fff,
                    0 0 40px #228dff,
                    0 0 70px #228dff,
                    0 0 80px #228dff,
                    0 0 100px #228dff,
                    0 0 150px #228dff;
            }
            to {
                text-shadow:
                    0 0 5px #fff,
                    0 0 10px #fff,
                    0 0 15px #fff,
                    0 0 20px #228dff,
                    0 0 35px #228dff,
                    0 0 40px #228dff,
                    0 0 50px #228dff,
                    0 0 75px #228dff;
            }
        }

        @keyframes neon3 {
            from {
                text-shadow:
                    0 0 10px #fff,
                    0 0 20px #fff,
                    0 0 30px #fff,
                    0 0 40px #ffdd1b,
                    0 0 70px #ffdd1b,
                    0 0 80px #ffdd1b,
                    0 0 100px #ffdd1b,
                    0 0 150px #ffdd1b;
            }
            to {
                text-shadow:
                    0 0 5px #fff,
                    0 0 10px #fff,
                    0 0 15px #fff,
                    0 0 20px #ffdd1b,
                    0 0 35px #ffdd1b,
                    0 0 40px #ffdd1b,
                    0 0 50px #ffdd1b,
                    0 0 75px #ffdd1b;
            }
        }

        @keyframes neon4 {
            from {
                text-shadow:
                    0 0 10px #fff,
                    0 0 20px #fff,
                    0 0 30px #fff,
                    0 0 40px #b6ff00,
                    0 0 70px #b6ff00,
                    0 0 80px #b6ff00,
                    0 0 100px #b6ff00,
                    0 0 150px #b6ff00;
            }
            to {
                text-shadow:
                    0 0 5px #fff,
                    0 0 10px #fff,
                    0 0 15px #fff,
                    0 0 20px #b6ff00,
                    0 0 35px #b6ff00,
                    0 0 40px #b6ff00,
                    0 0 50px #b6ff00,
                    0 0 75px #b6ff00;
            }
        }

        @keyframes neon5 {
            from {
                text-shadow:
                    0 0 10px #fff,
                    0 0 20px #fff,
                    0 0 30px #fff,
                    0 0 40px #ff9900,
                    0 0 70px #ff9900,
                    0 0 80px #ff9900,
                    0 0 100px #ff9900,
                    0 0 150px #ff9900;
            }
            to {
                text-shadow:
                    0 0 5px #fff,
                    0 0 10px #fff,
                    0 0 15px #fff,
                    0 0 20px #ff9900,
                    0 0 35px #ff9900,
                    0 0 40px #ff9900,
                    0 0 50px #ff9900,
                    0 0 75px #ff9900;
            }
        }

        @keyframes neon6 {
            from {
                text-shadow:
                    0 0 10px #fff,
                    0 0 20px #fff,
                    0 0 30px #fff,
                    0 0 40px #ff00de,
                    0 0 70px #ff00de,
                    0 0 80px #ff00de,
                    0 0 100px #ff00de,
                    0 0 150px #ff00de;
            }
            to {
                text-shadow:
                    0 0 5px #fff,
                    0 0 10px #fff,
                    0 0 15px #fff,
                    0 0 20px #ff00de,
                    0 0 35px #ff00de,
                    0 0 40px #ff00de,
                    0 0 50px #ff00de,
                    0 0 75px #ff00de;
            }
        }
    }
}
