@import url('../style/variable.scss');

.tree-wrap {
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    user-select: none;
    min-height: 320px;
    .person-info-wrap,
    .placeholder-info-wrap {
        width: $card-width;
    }
    width: 100%;
    color: $font-color;
    .tree-info-wrap {
        width: 100%;
        position: relative;
        margin: 0 auto;
        padding-top: 1px;
    }
    .first-wrap,
    .second-wrap,
    .third-wrap {
        display: flex;
        justify-content: center;
        .direction-wrap {
            position: relative;
            width: 13px;
            min-width: 13px;
            &.left {
                margin-right: 10px;
            }
            &.right {
                margin-left: 10px;
            }
            .direction {
                display: inline-block;
                cursor: pointer;
                flex-shrink: 0;
                position: absolute;
                top: 50%;
                margin-top: -12px;
                &:hover svg {
                    path {
                        fill: $blue;
                    }
                }
                svg {
                    height: 22px;
                }
                &:after {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    content: '';
                }
            }
        }
    }
    .first-wrap {
        margin-top: 16px;
        position: relative;
        .person-info-wrap {
            z-index: 99;
        }
    }
    .second-wrap,
    .third-wrap {
        margin-top: $connect-line-height * 2;
        .person-info-wrap {
            &:first-of-type {
                .connect-line {
                    .tree-vertical-line,
                    .tree-horizontal-line {
                        border-top-left-radius: 8px;
                    }
                }
            }
            &:nth-last-of-type(2) {
                .connect-line {
                    .tree-horizontal-line {
                        width: calc(100% + 21px);
                        border-top-right-radius: 8px;
                        border-right: 1px solid $border-color;
                    }
                }
            }
            &:last-of-type {
                .connect-line {
                    display: none;
                }
            }
        }
    }
    .second-wrap {
        .person-info-wrap {
            &.last-person-info-wrap {
                .show-btn {
                    left: calc(50% - 1px);
                }
            }
        }
    }
    .go-top {
        width: 24px;
        height: 16px;
        display: inline-block;
        cursor: pointer;
        position: absolute;
        top: -16px;
        left: 50%;
        margin-left: -12px;
        z-index: 1;
        &:after {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            content: '';
        }
        svg {
            width: 24px;
            height: 16px;
        }
    }
    .third-enter,
    .third-leave-to {
        opacity: 0;
    }
    .third-enter-active,
    .third-leave-active {
        transition: opacity .3s;
    }
}
