.image-recognition {
    margin: 40px auto;
    width: max(50vw, 400px);
    display: flex;
    flex-direction: column;
    align-items: center;

    .custom-file-upload {
        display: flex;
        align-items: center;
        cursor: pointer;
        gap: 10px;
        border: 2px solid black;
        padding: 8px 16px;
        border-radius: 6px;
        position: relative;
    }

    .file-upload {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        opacity: 0;
        cursor: pointer;
    }

    .status {
        .status-text {
            font-size: 16px;
            margin: 10px;
            text-align: center;
        }
    }

    .image-container {
        width: 100%;
        margin-top: 20px;
        position: relative;
        .status-img {
            width: 800px;
        }
    }

    .bounding-box {
        position: absolute;
        box-sizing: border-box;
    }

    .bounding-box-label {
        position: absolute;
        color: white;
        font-size: 12px;
    }
}
