// @import "tailwindcss/base";
// @import "tailwindcss/components";
// @import "tailwindcss/utilities";
// or
// @import 'tailwindcss';

.text-cutout {
    --bg: url(./bg.jpg) no-repeat center/cover;
    background: var(--bg);
    height: 100%;

    .modal {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
    }
    h1 {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 6vw;
        // color: #000;
        // 文字描边
        text-stroke: 1px #fff;
        -webkit-text-stroke: 1px #fff;
        background: var(--bg);
        // 设置背景覆盖范围，在文字范围
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
}
