// @import "tailwindcss/base";
// @import "tailwindcss/components";
// @import "tailwindcss/utilities";
// or
// @import 'tailwindcss';
@import './styles/index.scss';

.ant-layout-content.main-wrapper {
    .ant-layout-content,
    .main-container {
        // height: 100%;
    }
    .main-content {
        // height: 100%;
        // overflow: hidden;
        // padding: 0;
    }
    .ant-layout-content {
        padding: 0;
        // height: 100%;
        // overflow-y: auto;
    }
}

#app .ant-layout {
    .ant-layout-footer {
        padding: 12px;
    }
    .ant-layout-header {
        height: 56px;
        line-height: 56px;
        padding: 5px 12px;
    }
    .ant-layout-sider.antd-sider .logo {
        margin: 12px;
    }

    .ant-layout-sider-trigger {
        height: 46px;
    }
}

.w-60 {
    width: 60%;
}
