.animate-flip {
    border: 1px solid #666;
    border-radius: 4px;
    padding: 20px;
    width: 300px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    li {
        position: relative;
        transition: transform 0.5s ease;
    }

    .item {
        padding: 10px;
        border-radius: 4px;
        background-color: aqua;
        font-size: 14px;
        text-align: center;
    }
}
